<!DOCTYPE html>
<html>
<head>
	<% include head.html %>
</head>
<body>
	<header>
		<% include header.html %>
	</header>
	<div class="container">
	<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
		<h1>About</h1>
		<section>
			<p>
				FOSSEE (Free and Open Software in Education) project promotes the use of FOSS tools to improve the quality of education in our country. We aim to reduce dependency on proprietary software in educational institutions. We encourage the use of FOSS tools through various activities to ensure commercial software is replaced by equivalent FOSS tools. We also develop new FOSS tools and upgrade existing tools to meet requirements in academia and research. 
			</p>
			<p>
				The FOSSEE project is part of the National Mission on Education through Information and Communication Technology (ICT), Ministry of Human Resources and Development, Government of India.
			</p>	
		</section>	
	</div>
	</div>
	</div>
	
	
	<footer class="footer">
		<% include footer.html %>	
	</footer>	
	
	
	
</body>
</html>