<!DOCTYPE html>
<html>
<head>
	<% include head.html %>
</head>
<body>
	<header>
		<% include header.html %>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h1>Contact us</h1>

				<p>
					You may write to us at the following email ids, for any queries/suggestions.
				</p>
				<p>
					contact-esim [at] fossee [dot] in
				</p>
			</div>
		</div>
	</div>

	<footer class="footer">
	<% include footer.html %>	
	</footer>	
	
	
	
</body>
</html>

