
<meta charset="UTF-8">
<title><%= title %></title>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="/ngStatic/css/bootstrap.min-3.3.6.css">

<!-- Custom styles for this template -->
<link href="/ngStatic/css/customstylesheet.css" rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" href="/ngStatic/images/favicon.ico" />

<!-- <script src="/socket.io/socket.io.js"></script> -->
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="/ngStatic/js/plotly-latest.min.js"></script>	

	
<!-- Bootstrap JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/ngStatic/js/jquery.min.js"><\/script>')</script>
<!-- Bootstrap core JS -->
<script src="/ngStatic/js/bootstrap.min-3.3.6.js"></script>