/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.editorArea{
	text-align: left;
	width: 100%;	
}

.footer{
	background: #222222;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;

}

